<% meta :title, 'Login' %>

<section>
	<form id="login" action="/login" method="post">
		<input type="text" name="username" autocomplete="username" placeholder="Username" autofocus>
		<input type="password" name="password" autocomplete="current-password" placeholder="Password">
		<button type="submit" tabindex="-1">Login</button>
	</form>
</section>
